@model WebSales.Models.EF.ReviewProduct
<div class="col-lg-6 add_review_col">

    <div class="add_review">
        @using (Ajax.BeginForm("PostReview", "ReviewProduct", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "load_reviewproduct",
            OnSuccess = "OnSuccessRP",
            OnFailure = "OnFailureRP",
            OnBegin = "OnBeginRP"

        }, new { @Id = "reviewproduct_form" }))
        {
            <script>
                function OnBeginRP() {
                    $('#reviewproduct_submit').attr("disabled", "disabled");
                    $('#load_send').html('<h2>Đang gửi....</h2>');
                }
                function OnSuccessRP(res) {
                    if (res.Success) {
                        $("#reviewproduct_form")[0].Reset();
                    }
                }
                function OnFailure() {

                }
            </script>
            @Html.AntiForgeryToken()

            @*<form id="review_form" action="post">*@
            <div>
                <h1>Add Review</h1>
                @Html.TextBoxFor(x=>x.FullName, new {@class = "form_input input_name",@placeholder = "Name", @id = "review_name" })
                @Html.TextBoxFor(x=>x.Email, new {@class = "form_input input_email",@placeholder = "Email", @id = "review_email"})
                @Html.HiddenFor(x=>x.UserName)
                @Html.HiddenFor(x=>x.ProductId, new {@Value = ViewBag.ProductId})
                <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden;"/>
                @*<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
                <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">*@
            </div>
            <div>
                <h1>Your Rating:</h1>
                <ul class="user_star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
                @Html.TextAreaFor(x=>x.Content,new { @class = "input_review", @row="4", @placeholder = "Your Review"})
                @*<textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>*@
            </div>
            <div class="text-left text-sm-right">
                <button id="reviewproduct_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
            </div>
            @*</form>*@
        }
    </div>
</div>

